@{
    ViewData["Title"] = "Actualización Completada";
}

<h1 class="text-center">Actualización</h1>
<h1 class="text-center">completada</h1>
<h1 class="text-center">con</h1>
<h1 class="text-center">éxito</h1>
<h2 class="text-center">Por favor Regresar a Home</h2>


