@{
    ViewData["Title"] = "Producto Nuevo";
}
<h1>Pagina de Creacion de nuevo producto</h1>
<form asp-action="CrearCrema" method="post">
 Categoria: <input value="C-000" disabled/>
 ID Producto: <input value=@ViewBag.Ultimo disabled
 Nombre: <input/>

</form>