@model AVONmo.Models.ViewModels.ElectrodomesticoViewModel
@{
}
<form asp-action="DeleteElectrodomestico" method="post">
    <label>Estas Seguro que vas a elimianr el producto</label>
    <br />
    <label>@Model.Electrodomestico.Descripcion</label>
    <input asp-for="Electrodomestico.Descripcion" type="hidden" />
    <input asp-for="Electrodomestico.IdProducto" type="hidden" />
    <input asp-for="Electrodomestico.IdCategoria" type="hidden" />
    <input asp-for="Electrodomestico.IdPrecio" type="hidden" />
    <input asp-for="Precio.IdPrecio" type="hidden" />
    <input asp-for="Precio.Cantidad" type="hidden" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="@Url.Action("Electrodomesticos")" class="btn btn-secondary">Cancelar</a>
</form>
