@model AVONmo.Models.ViewModels.PerfumeViewModel
@{
}
<form asp-action="DeletePerfume" method="post">
    <label>Estas Seguro que vas a elimianr el producto</label>
    <br />
    <label>@Model.Perfume.Descripcion</label>
    <input asp-for="Perfume.Descripcion" type="hidden" />
    <input asp-for="Perfume.IdProducto" type="hidden" />
    <input asp-for="Perfume.IdCategoria" type="hidden" />
    <input asp-for="Perfume.IdPrecio" type="hidden" />
    <input asp-for="Precio.IdPrecio" type="hidden" />
    <input asp-for="Precio.Cantidad" type="hidden" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="@Url.Action("Perfumes")" class="btn btn-secondary">Cancelar</a>
</form>