@model AVONmo.Models.ViewModels.CremaViewModel
@{
}
<form asp-action="DeleteCrema" method="post">
    <label>Estas Seguro que vas a elimianr el producto</label>
    <br />
    <label>@Model.Crema.Descripcion</label>
    <input asp-for="Crema.Descripcion"type="hidden"/>
    <input asp-for="Crema.IdProducto" type="hidden" />
    <input asp-for="Crema.IdCategoria" type="hidden" />
    <input asp-for="Crema.IdPrecio" type="hidden" />
    <input asp-for="Precio.IdPrecio" type="hidden" />
    <input asp-for="Precio.Cantidad" type="hidden" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="@Url.Action("Cremas")" class="btn btn-secondary">Cancelar</a>
</form>
