@model AVONmo.Models.ViewModels.TupperViewModel
@{
}
<form asp-action="DeleteTupper" method="post">
    <label>Estas Seguro que vas a elimianr el producto</label>
    <br />
    <label>@Model.Tupper.Descripcion</label>
    <input asp-for="Tupper.Descripcion" type="hidden" />
    <input asp-for="Tupper.IdProducto" type="hidden" />
    <input asp-for="Tupper.IdCategoria" type="hidden" />
    <input asp-for="Tupper.IdPrecio" type="hidden" />
    <input asp-for="Precio.IdPrecio" type="hidden" />
    <input asp-for="Precio.Cantidad" type="hidden" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="@Url.Action("Tuppers")" class="btn btn-secondary">Cancelar</a>
</form>