@model List<Categorium>
<style>
 
    .categoria {
        border: 1px solid #294;
        padding: 10px;
        margin-bottom: 20px;
    }
</style>
@{
    ViewData["Title"] = "Home Page";
}



@foreach (var categoria in Model)
{
    <div class="categoria">
        <h2><a asp-controller="Home" asp-action="@categoria.Titulo">@categoria.Titulo</a></h2>
        <p>@categoria.Descripcion</p>
    </div>
}

