<style>
    body {
        font-family: Castellar, sans-serif;
        margin: 20px;
        background-color: #a3e4d7
    }

    .categoria {
        border: 1px solid #294;
        padding: 10px;
        margin-bottom: 20px;
    }
</style>
@{
    ViewData["Title"] = "Home Page";
}



<div class="categoria">
    <h2><a href="PERFUMES.html">PERFUMES</a></h2>
    <p>ENCUENTRA LOS NUEVOS OLORES DE TEMPORADA </p>
</div>

<div class="categoria">
    <h2><a href="CREMAS.html">CREMAS</a></h2>
    <p>CONOCE LAS NUEVAS CREMAS HIDRATANTES HECHAS A TU MEDIDA</p>
</div>

<div class="categoria">
    <h2><a href="ELECTRODOMESTICOS.html">ELECTRODOMESTICOS</a></h2>
    <p>¿QUIERES DARTE UN GUSTITO?</p>
</div>
<div class="categoria">
    <h2><a href="MAQUILLAJE.html">MAQUILLAJE</a></h2>
    <p>UN REGALO PARA MAMÁ</p>
</div>
<div class="categoria">
    <h2><a href="TUPPERS.html">TUPPERS</a></h2>
    <p>¿AGREGARAS MAS TUPPERS A TU COLECCION?</p>
</div>

