@model Tuple<List<Perfume>,List<Precio>,List<Categorium>>
@{
    ViewData["Title"] = "Perfumes";
}
<div class="card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title font-weight-bold text-center">@ViewData["Title"]</h2>
            <hr>
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="CrearPerfume"><img src="/plus.svg" alt="Icono de agregar" />Nuevo Producto</a>
            <a class="btn btn-outline-dark" onclick="mostrarBotones();"><img src="/edit.svg" alt="Editar" />Editar tabla</a>
        </div>
    </div>
</div>
<table class="table table-warning table-striped">

    <thead class="table-dark">
        <tr>
            <td name="Actualizar" width="25%">ACTUALIZAR/ELIMINAR</td>
            <th class="text-center" width="25%">ID</th>
            <th class="text-center" width="25%">NOMBRE</th>
            <th class="text-center" width="25%">PRECIO</th>

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Item1.Count; i++)
        {
            <tr>
                <td name="Actualizar"><a class="btn btn-warning" asp-action="UpdatePerfume" asp-route-id=@Model.Item1[i].IdProducto>Actualizar</a> <a class="btn btn-danger" asp-action="DeletePerfume" asp-route-id=@Model.Item1[i].IdProducto>ELIMINAR</a></td>
                <td class="text-center">@Model.Item1[i].IdProducto</td>
                <td>@Model.Item1[i].Descripcion</td>
                <td class="text-center">@Model.Item2[i].Cantidad</td>
            </tr>
        }
    </tbody>
</table>